<div class="parent">
    <div class="parent-inputs">
        <div class="insta-header"> Sign In</div>
        <form (ngSubmit)="isLogin()">
            <input type="email" id="email" placeholder="Email" name="email" [(ngModel)]="email" required />
            <input type="password" id="password" placeholder="password" name="password" [(ngModel)]="password"
                required />
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <footer style="margin-top: 20px;">
            <div class="footer">
                <p>© {{getFullYear}} Your Company. All rights reserved.</p>
            </div>
        </footer>
    </div>

</div>