    
  <div class="parent">
        <div class="parent-inputs">
            <div class="insta-header">Simple Login</div>
             <form (ngSubmit)="isLogin()">
                        <input type="email" id="email" placeholder="Email"  name="email" [(ngModel)]="email" required />
                        <input type="password" id="password" placeholder="password"  name="password" [(ngModel)]="password"  required />
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
        </div>
    </div>