<div style="margin-top: 50px;">
<p>subject-example works!</p>
<div class="parenet-div">
    <div class="divbox">
        <div> Examples of Subject</div>
        <div>{{subjectsdata}}</div>
    </div>
    <div class="divbox">
        <div> Examples of Behavour subject</div>
        <div>{{behaviorsubject}}</div>
    </div>
    <div class="divbox">
        <div> Examples of replay subject</div>
       <div>{{replaySubjetsdata}}</div>
    </div>
    <div class="divbox">
        <div> Examples of async subject </div>
        <div>{{asyncsubjects}}</div>
    </div>
</div>
</div>