  <p>user-info works!</p>
  <div class="row">
    <div class="col-md-6">
      <div>
    count show {{count}}
  </div>
  <div>get data from child component: {{valdata}}</div>
  <button class="btn btn-sm btn-info" (click)="sendStundent()"> click open student component</button>

  <div *ngIf="showstundent">
    <app-student [inputvar]="parentdata" (myoutputdata)="getdata($event)"></app-student>
  </div>
  <div class="container">
    <!-- <img  alt="myimage" src=".../.../assets/images/googles.png" width="300" height="200"/> -->
    <div>
      @defer (when showdata) {
      @for (item of corses; track $index) {
      <div>{{item.name}}</div>
      <div>{{item.descriptions}}</div>
      <!-- <div>{{item.Image}}</div> -->
      <!-- <p><img src="{{item.Image}}" alt=""></p> -->
      }
      }
      @loading(minimum 2s) {
      <span>loading...</span>
      }@placeholder (minimum 2s){
      <span>startind data load </span>
      }
    </div>

    <div>
      <button class="btn btn-sm btn-primary" #showcontents>Click on button</button>

      @defer (on interaction(showcontents)) {
      <span>Content loaded successfully!</span>
      }
    </div>

  </div>
    </div>
    <div class="col-md-6">
       <p><input type="text" ngModel placeholder="enter your name" [(ngModel)]="username"/></p> 
        <button type="button" class="btn btn-info btn-sm" (click)="userDetails()">
           shara data to User Component
        </button>

        <div>
          <h3>
            {{countNum()}}
          </h3>
          <div>
            <button type="button" class="btn btn-sm btn-primary" (click)="singlesCount()">signales Examles</button>
          </div>
        </div>

    </div>
  </div>
  