<div class="d-flex" style="display: flex;">
    <p>Employee works</p>
    <!-- <button type="button" class="btn btn-info" (click)="buttonclick()">click</button> -->
</div>

<div class="parent-div">
    <div class="child-div" *ngIf="isloading">
        Loading Please wait...
    </div>
</div>
<table class="table">
    <thead>
       
 <tr>
    <th (click)="sortData('id')">User Id</th>
    <th (click)="sortData('name')">Name</th>
    <th (click)="sortData('username')">User Name</th>
    <th (click)="sortData('email')">Email</th>
    <th (click)="sortData('address.city')">City</th>
    <th>Action</th>
  </tr>

    </thead>
    <tbody>
        <tr *ngFor="let empdata of empInfoGet"> <!--| async empInfoGet-->
            <td><a [routerLink]="['/user',empdata.id]">{{empdata.id}}</a></td>
            <td>{{empdata.name}}</td>
            <td>{{empdata.username}}</td>
            <td>{{empdata.email}}</td>
            <td>{{empdata.address.city}}</td>
            <td><button (click)="deleteEmployee(empdata.id)">Delete</button></td>
        </tr>

    </tbody>
</table>