<div class="d-flex" style="margin-top: 30px;">
    <div style="display: flex;margin-top: 52px;">
        <p style="width:20%;"> Employee component</p>
         <marquee behavior="scroll" direction="left">
        This text will scroll from right to left.
    </marquee>
    </div>
   <div>
   </div>
    <!-- <button type="button" class="btn btn-info" (click)="buttonclick()">Button  click for NgDestroy</button> -->
<!-- <img src="" alt="dd" aria-labelledby="daya"> -->
 <!-- aria-labelledby use for accessibility
  for use screen readers use for web accessibility -->

<div class="parent-div">
    <div class="child-div" *ngIf="isloading">
        Loading Please wait...
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
       
 <tr>
    <th (click)="sortData('id')">User Id</th>
    <th (click)="sortData('name')">Name</th>
    <th (click)="sortData('username')">User Name</th>
    <th (click)="sortData('email')">Email</th>
    <th (click)="sortData('address.city')">City</th>
    <th>Action</th>
  </tr>

    </thead>
    <tbody>
        <tr *ngFor="let empdata of empInfoGet "> <!--| async empInfoGet-->
            <td><a [routerLink]="['/layout','user', empdata.id]" class="align-adjust">{{empdata.id}}</a></td>
            <td>{{empdata.name}}</td>
            <td>{{empdata.username}}</td>
            <td>{{empdata.email}}</td>
            <td>{{empdata.address.city}}</td>
            <td><button (click)="deleteEmployee(empdata.id)">Delete</button></td>
        </tr>

    </tbody>
</table>
</div>