.parent-div{
    position: relative;
    width: 100%;
    height: auto;
}
.child-div{
    position: absolute;
    top: 50%;
    left: 50%;
    color: bisque;
    transform: translate(-50%,-50%);
}
.emp {
    color: blue;
    font-size: 20px; 
}
.align-adjust {
    display: block;
    text-align: center;
  
}
